body {

	background-image:url("http://wallpapercave.com/wp/pEeUsp1.jpg");
    background-position: center bottom;
	font-family: monospace;
    background-size:100%;
    width:1920px;
    height:768px;
}

/*Stuff below governs the start screen*/

html {
    height:768px;
    width:1920px;
}

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
}

.button {
	border: 5px solid #383838;
    color: #383838;
    padding: 20px 50px;
    font-size: 5em;
    text-decoration: none;
    background-color: #abc;
    box-shadow: 15px 15px 80px #555;
}
  a.button:hover {
    background-color: #383838;
    color: #abc;
  }

  #character {
    background-image: url("img/maincharacter2.png");
    background-size:90%;
    height:216px;
    width:270px;
    position:absolute;
    background-repeat: no-repeat;
  }

  .lava {
    background-image: url("img/lavadrop.png");
    height: 100px;
    width: 50px;
    position:absolute;
    margin-top:-60px;
    background-size:80%;
    background-repeat:no-repeat;
  }

  #point {
    width:1421px;
    height:10px;
    margin-top:750px;
    position:absolute;
  }

  #pointsystem {
    font-size:100px;
    margin-top:-15px;
  }

  div.meteor {
    background-image:url("img/meteor.png");
    width:150px;
    height:150px;
    background-size:100%;
    position:fixed;
  }

  /* Reset Styles */
  *{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
  }

  #wrapper{
    width: 1920px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top:-50px;
  }
  /* Floats button in the middle */
  section{
    margin: 350px;
    max-width: 500px;
    margin-left: 450px;
  }

  /* The button */
  #button-blue{
    float:left;
    width: 100%;
    max-width:500px;
    border: white solid 4px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    margin-top: -4px;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: .1em;
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* Change text color & background opacity on hover*/
  #button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
  }

  /* The white hover effect */
  .ease {
    width: 0px;
    height: 70px;
    background-color: white;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  /* Make visable when hover */
  .btn-container:hover .ease{
    width: 100%;
    max-width: 500px;
    background-color: white;
    border: 0;
  }


/*Stuff below governs the Explore screen*/

#exploreBody {
	background-image: ;
	background-position: bottom center;
    background-repeat: no-repeat;
    width:1920px;
    height:768px;
}
